.row{
    width: 50%;
    height: 500px;
    background-color: cadetblue;
    position: relative;
}
.col{
    width: 100px;
    height: 300px;
    border :black solid 2px;
}
.col-1{
    background-color: brown;
    position: absolute;
    left: 5px;
}

.col-2{
    position: absolute;
    left: 105px;
    background-color: rgb(216, 106, 106);
}

.col-3{
    position: absolute;
    left: 205px;
    background-color: rgb(52, 214, 187);
}

.col-4{
    position: absolute;
    left: 305px;
    background-color: rgb(98, 59, 121);
}